<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment.My.MySettings.assignmentConnectionString" connectionString="Data Source=(local);Initial Catalog=assignment;Persist Security Info=True;User ID=sa;Password=Rje03400" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
